[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.*"
python-decouple = "*"
psycopg2-binary = "==2.8.6"
djangorestframework = "*"
africastalking = "*"
coverage = "*"
gunicorn = "*"
django-allauth = "*"
google-api-python-client = "*"
google-auth = "*"
google-auth-oauthlib = "*"
google-auth-httplib2 = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.10"
